<figure class="figure">
  <img
    src="../../../assets/images/card.jpg"
    class="figure-img img-fluid rounded img-thumbail"
    style="max-width: 120px"
    alt="..."
  />
  <figcaption class="figure-caption"><b>Movie Name</b></figcaption>
  <figcaption class="figure-caption"><i>7.5/10 rate</i></figcaption>
</figure>
<figure class="figure">
  <img
    src="../../../assets/images/card.jpg"
    class="figure-img img-fluid rounded img-thumbail"
    style="max-width: 120px"
    alt="..."
  />
  <figcaption class="figure-caption"><b>Movie Name</b></figcaption>
  <figcaption class="figure-caption"><i>7.5/10 rate</i></figcaption>
</figure>
<figure class="figure">
  <img
    src="../../../assets/images/card.jpg"
    class="figure-img img-fluid rounded img-thumbail"
    style="max-width: 120px"
    alt="..."
  />
  <figcaption class="figure-caption"><b>Movie Name</b></figcaption>
  <figcaption class="figure-caption"><i>7.5/10 rate</i></figcaption>
</figure>
