<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/yK7vHCfswok?si=oKs8nr4VRdYolulT"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      </div>
      <div class="modal-footer">
        <p>Trailer for {{movieTitle}}</p>
      </div>
    </div>
  </div>
</div>
