<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <i class="bi bi-star"></i> <b>7.5/10</b> Accordion Item #1
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p>This is the first item's accordion body.</p>
         <p class="blackquoute-footer">Author</p>
         <p> <i>100 out of 120 people found this usefull</i></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <i class="bi bi-star"></i> <b>7.5/10</b> Accordion Item #1
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p>This is the first item's accordion body.</p>
         <p class="blackquoute-footer">Author</p>
         <p> <i>100 out of 120 people found this usefull</i></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <i class="bi bi-star"></i> <b>7.5/10</b> Accordion Item #1
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p>This is the first item's accordion body.</p>
         <p class="blackquoute-footer">Author</p>
         <p> <i>100 out of 120 people found this usefull</i></p>
      </div>
    </div>
  </div>

</div>
