<h1>Movie Title</h1>
<br />
<div class="row p-2">
  <div class="col-md-6">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/yK7vHCfswok?si=oKs8nr4VRdYolulT"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="col-md-6">
    <p class="lead">This is going to be the placeholder for the movie</p>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Storie</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">listone</li>
            <li class="list-group-item">listone</li>
            <li class="list-group-item">listone</li>
            <li class="list-group-item">listone</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Director</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">listone</li>
            <li class="list-group-item">listone</li>
            <li class="list-group-item">listone</li>
            <li class="list-group-item">listone</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Geners</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">listone</li>
            <li class="list-group-item">listone</li>
            <li class="list-group-item">listone</li>
            <li class="list-group-item">listone</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>tis is the placeholder</p>
</div>
<hr>
<br>
<div class="row p-2">
  <h1>Actors</h1>
  <div class="col-md-12 text-center">
    <app-movie-details-actors></app-movie-details-actors>
  </div>
  <div class="text-center">
    <a class="btn btn-warning">See all actors</a>
  </div>
</div>
<hr>
<br>
<div class="row p-2">
  <h1>Reviews</h1>
  <br>
  <div class="col-md-12">
    <app-details-reviews></app-details-reviews>
  </div>
  <div class="text-center">
    <a class="btn btn-warning">See all reviews</a>
  </div>
</div>
<hr>
<br>
<div class="row p-2">
  <h1>Similar Movies</h1>
  <br>
  <div class="col-md-12 text-center">
    <app-details-movies></app-details-movies>
  </div>
  <div class="text-center">
    <a class="btn btn-warning">See all movies</a>
  </div>
</div>


