<figure class="figure">
  <img src="../../../assets/images/card.jpg" class="figure-img img-fluid rounded img-thumbail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Full Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>

</figure>

<figure class="figure">
  <img src="../../../assets/images/card.jpg" class="figure-img img-fluid rounded img-thumbail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Full Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>

</figure>
<figure class="figure">
  <img src="../../../assets/images/card.jpg" class="figure-img img-fluid rounded img-thumbail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Full Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>

</figure>
<figure class="figure">
  <img src="../../../assets/images/card.jpg" class="figure-img img-fluid rounded img-thumbail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Full Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>

</figure>
